.app_button {
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.app_button:hover {
  background-color: #ffd633;
}