.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 150px;
  height: auto;
  margin-right: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 768px) {
  .navbar {
    padding: 1em 3em;
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }
}
